{
  "extends": "stylelint-config-standard-scss",
  "plugins": ["stylelint-selector-bem-pattern"],
  "rules": {
    "indentation": 2,
    "string-quotes": "double",
    "no-duplicate-selectors": true,
    "alpha-value-notation": "number",
    "color-function-notation": "legacy",
    "selector-class-pattern": "",
    "color-hex-case": "upper",
    "color-hex-length": "long",
    "no-descending-specificity": null,
    "plugin/selector-bem-pattern": {
      "preset": "bem",
      "implicitComponents": "src/app/**/*.scss"
    },
    "selector-pseudo-element-no-unknown": null
  }
}
